.new {
    font-family: "Open Sans";
    font-size: 18px;
    color: #678293;
    padding: 20px;
    transition: 0.15s linear;
    position: relative;
    min-height: 350px;
}

.new:hover {
    outline: solid 2px #ee7105;
    outline-offset: -10px;
}

.newTitle {
    padding: 20px 0;
}

.newTitle a {
    font-size: 24px;
    color: #2f4d59;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newTitle a:hover {
    text-decoration: none;
    color: #ee7105;
}

.newLink {
    position: absolute;
    bottom: 20px;
}

.newLink a {
    color: #678293;
}

.newLink a:hover {
    text-decoration: none;
    color: #ee7105;
}

.newText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.pageNav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-family: "Open Sans";
    margin-top: 30px;
}

.pageNav li {
    list-style-type: none;
}

.pageNav a {
    display: block;
    padding: 6px 10px;
    min-height: 30px;
    min-width: 30px;
    color: #2f4d59;
    text-align: center;
    border: 1px solid #678293;
    transition: 0.15s linear;
}

.pageNav .active {
    color: white;
}

.pageNav a:hover {
    background-color: #ee7105;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #678293;
    font-weight: 600;
}

.pageNav li:first-child a {
    border-radius: 10px 0 0 10px;
}

.pageNav li:last-child a{
    border-radius: 0 10px 10px 0;
}